:root {
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
	font-family: pixelify;
	font-weight: 400;
	
	--page-padding: 1rem;

	--background-color: #f8eed9;
	--section-color: rgb(219, 199, 179);
	--section-alt-color: rgb(226, 206, 186);
	--mid-grey: #3a3221;
	--text-color: #3a3221;
	--theme-color: rgb(138, 97, 85);
	--input-color: #fffefb;
	--input-alt-color: #fffefb;
	--button-color: rgb(252, 248, 241);
	--button-border-color: #d3d0ce;
	--steplabel-color: rgb(191, 166, 147);
	--removebg-color: rgb(227, 160, 138);
	--remove-color: rgb(163, 89, 67);
}

.chai {
	--background-color: #f8eed9;
	--section-color: rgb(219, 199, 179);
	--section-alt-color: rgb(226, 206, 186);
	--mid-grey: #3a3221;
	--text-color: #3a3221;
	--theme-color: rgb(138, 97, 85);
	--input-color: #fffefb;
	--input-alt-color: #fffefb;
	--button-color: rgb(252, 248, 241);
	--button-border-color: #d3d0ce;
	--steplabel-color: rgb(191, 166, 147);
	--removebg-color: rgb(227, 160, 138);
	--remove-color: rgb(163, 89, 67);
}

.matcha {
	--section-color: rgb(183, 205, 145);
	--section-alt-color: rgb(194, 216, 156);
	--background-color: #d1e6b0;
	--mid-grey: #1d3d0e;
	--text-color: #1d3d0e;
	--theme-color: rgb(126, 163, 67);
	--input-color: #f4ffd7;
	--input-alt-color: #f4ffd7;
	--button-color: rgb(252, 248, 241);
	--button-border-color: #e7ebdc;
	--steplabel-color: #1d3d0e9f;
	--removebg-color: rgb(227, 160, 138);
	--remove-color: rgb(163, 89, 67);
}

.water {
	--section-color: #eff7fa;
	--section-alt-color: #dfeff5;
	--background-color: rgb(255, 255, 255);
	--mid-grey: #0a2530;
	--text-color: #0a2530;
	--theme-color: rgb(75, 179, 179);
	--input-color: #eff7fa;
	--input-alt-color: rgb(255, 255, 255);
	--button-color: rgb(246, 253, 255);
	--button-border-color: #f4f7f8;
	--steplabel-color: rgb(107, 136, 151);
	--removebg-color: rgb(227, 160, 138);
	--remove-color: rgb(163, 89, 67);
}

.puerh {
	--section-color: #19171f;
	--section-alt-color: #1d1b24;
	--background-color: #33161c;
	--mid-grey: #0a2530;
	--text-color: #a8883d;
	--theme-color: rgb(243, 223, 159);
	--input-color: #583538;
	--input-alt-color: #501417;
	--button-color: rgb(53, 47, 68);
	--button-border-color: #494555;
	--steplabel-color: a8883d(107, 136, 151);
	--removebg-color: rgb(227, 160, 138);
	--remove-color: rgb(163, 89, 67);
}


@font-face {
	font-family: pixelify;
	src: url("../src/routes/assets/pixelify_sans/PixelifySans-VariableFont_wght.ttf") format("truetype");
}

body {
	margin: 0;
	color: var(--text-color);
	background: var(--background-color);

	background-image: none;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}

.page-width {
	max-width: 40rem;
}

.page-padding {
	padding: 0 var(--page-padding);
}

* {
	transition: 100ms background-color cubic-bezier(0.16, 1, 0.3, 1), 
	100ms color cubic-bezier(0.16, 1, 0.3, 1),
	100ms border-color cubic-bezier(0.16, 1, 0.3, 1);
}

button {
	background-color: var(--button-color);
	font-family: pixelify;
	font-size: 20px;
	color: var(--text-color);
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .2rem;
	padding-bottom: .2rem;
	border-color: var(--button-border-color);
}

select {
	padding: .2rem;
	background-color: var(--button-color);
	font-family: pixelify;
	font-size: 20px;
	color: var(--text-color);
	border-color: var(--button-border-color);
}

option {
	background-color: var(--button-color);
}

a.visited{
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

h2 {
    margin-top: 0;
    text-align: center;
    font-weight: 75;
}

h3 {
    text-align: center;
    font-style: italic;
	font-weight:lighter;
}