:root {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.5;

	--page-padding: 1rem;

	--background-color: #ffdfcc;
	--mid-grey: rgb(199, 199, 199);
	--text-color: #000;
	--theme-color: rgb(164, 229, 156);
}

body {
	margin: 0;
	color: var(--text-color);
	background: var(--background-color);

	background-image: none;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}

.page-width {
	max-width: 40rem;
}

.page-padding {
	padding: 0 var(--page-padding);
}